# TASKAS SMTP Configuration
# Create a copy of this file named '.env' and fill in your details to enable real onboarding email greetings!

SMTP_EMAIL=shaikharshad92316@gmail.com
SMTP_PASSWORD=djvo ruvl zyaa ucby
